# Exemplo de arquivo .env para configuração do CincoCincoJAM
# Copie este arquivo para .env e preencha os valores conforme necessário

# Configurações do Django
DEBUG=True
SECRET_KEY=sua_chave_secreta_aqui
ALLOWED_HOSTS=localhost,127.0.0.1

# Configurações do Banco de Dados
# DATABASE_URL=postgres://usuario:senha@localhost:5432/cincocincojam2

# Configurações da API da OpenAI
OPENAI_API_KEY=sua_chave_api_openai_aqui
OPENAI_MODEL=gpt-3.5-turbo
OPENAI_MAX_TOKENS=150
OPENAI_TEMPERATURE=0.7

# Obtenha uma chave API em https://nfe.io/
NFEIO_API_KEY=gbQ2V80IFghoHzJ63qR7j9qwKGvqkePYaZlaC8nqOvxsWRIniSQO8yzKo6sPwYH0bvM
NFEIO_COMPANY_ID=6868157028da7f0cb4101c40
NFEIO_ENVIRONMENT=sandbox
NFEIO_OFFLINE_MODE=True

SENDGRID_API_KEY=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
DEFAULT_FROM_EMAIL=scaleclockadm@gmail.com
EMAIL_SIMULATION = True

# Configurações AWS S3
AWS_ACCESS_KEY_ID=sua_aws_access_key_aqui
AWS_SECRET_ACCESS_KEY=sua_aws_secret_key_aqui
AWS_STORAGE_BUCKET_NAME=cincocincojam-bucket
AWS_S3_REGION_NAME=us-east-1
AWS_S3_CUSTOM_DOMAIN=
AWS_S3_FILE_OVERWRITE=False
AWS_DEFAULT_ACL=public-read