# Exemplo de arquivo .env para configuração do CincoCincoJAM
# Copie este arquivo para .env e preencha os valores conforme necessário

# Configurações do Django
DEBUG=True
SECRET_KEY=sua_chave_secreta_aqui
ALLOWED_HOSTS=localhost,127.0.0.1

# Configurações do Banco de Dados
# DATABASE_URL=postgres://usuario:senha@localhost:5432/cincocincojam2

# Configurações da API da OpenAI
OPENAI_API_KEY=sua_chave_api_openai_aqui
OPENAI_MODEL=gpt-3.5-turbo
OPENAI_MAX_TOKENS=150
OPENAI_TEMPERATURE=0.7

# Obtenha uma chave API em https://nfe.io/
NFEIO_API_KEY=DSVnClRhik8BkPm69wBTSDAqyR9b3wrCKkyC7Wjk2JySrWXIOsNZBvLZYQxU8z6GUZB
NFEIO_COMPANY_ID=67ea5530094b7d18f44a88fa
NFEIO_ENVIRONMENT=sandbox
NFEIO_OFFLINE_MODE=True

SENDGRID_API_KEY=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
DEFAULT_FROM_EMAIL=scaleclockadm@gmail.com